body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: auto;
}

.home_cover {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 1026px;
}
.home_title_box {
  width: 1105px;
  height: 117px;
  position: absolute;
  left: 167px;
  top: 215px;
}
.home_title {
  color: rgba(18.88193730264902, 36.03742964565754, 50.82965210080147, 1);
  width: 1105px;
  height: 63px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Titillium Web;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.5;
  line-height: px;
}
.home_title_small {
  color: rgba(85.3057949244976, 111.8705266714096, 134.77581918239594, 1);
  width: 1105px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 79px;
  /* font-family: Titillium Web; */
  text-align: center;
  font-size: 19px;
  letter-spacing: 0;
  line-height: px;
}
.start_button_box {
  width: 169px;
  height: 56px;
  position: absolute;
  left: 635px;
  top: 403px;
}
.start_button {
  box-shadow: 0px 12px 10px
    rgba(
      18.88193730264902,
      36.03742964565754,
      50.82965210080147,
      0.23999999463558197
    );
  background-color: rgb(19, 82, 255);
  width: 170px;
  height: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.home_to_explanation {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  letter-spacing: 3;
  font-weight: 550;
}
.conversation_box {
  width: 1105px;
  height: 557.0000610351562px;
  position: absolute;
  display: flex;
  position: relative;
  justify-content: center;
  left: 167px;
  top: 583px;
}
.computer_screan_top {
  box-shadow: 0px 30px 30px
    rgba(
      18.88193730264902,
      36.03742964565754,
      50.82965210080147,
      0.23999999463558197
    );
  background-color: rgba(
    224.000001847744,
    232.00000137090683,
    240.00000089406967,
    1
  );
  width: 1105px;
  height: 557px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.computer_screan_botton {
  background-color: rgba(
    215.98500072956085,
    215.98500072956085,
    215.98500072956085,
    1
  );
  width: 1105px;
  height: 52.033966064453125px;
  position: absolute;
  left: 0px;
  top: 504.9660949707031px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.computer_screan {
  background-color: rgba(
    210.08089274168015,
    221.02761894464493,
    231.97436034679413,
    1
  );
  width: 1067px;
  height: 489px;
  position: absolute;
  left: 19px;
  top: 46px;
}
.computer_screan_button1 {
  border-radius: 500px;
  background-color: rgba(
    85.3057949244976,
    111.8705266714096,
    134.77581918239594,
    1
  );
  width: 14.475982666015625px;
  height: 14.093523025512695px;
  position: absolute;
  left: 19.30120849609375px;
  top: 16.67340087890625px;
}
.computer_screan_button2 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 14.475982666015625px;
  height: 14.093523025512695px;
  position: absolute;
  left: 43.427886962890625px;
  top: 16.67340087890625px;
}
.computer_screan_button3 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 14.475982666015625px;
  height: 14.093523025512695px;
  position: absolute;
  left: 67.5545654296875px;
  top: 16.67340087890625px;
}

.my_chat_box {
  display: flex;
  color: #ffffff;
  background-color: #00c637;
  width: 370px;
  height: 55px;
  position: absolute;
  left: 647px;
  top: 297px;
  border-radius: 55px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Apple SD Gothic Neo;
  font-weight: 420;
  font-size: 18.5px;
}
.my_chat_box::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00c637;
  clip-path: polygon(100% 100%, 50% 100%, 0% 30%);
  top: -40px;
  left: -6px;
}

.my_chat_box_2 {
  display: flex;
  color: #ffffff;
  background-color: #00c637;
  width: 370px;
  height: 55px;
  position: absolute;
  left: 647px;
  top: 97px;
  border-radius: 55px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Apple SD Gothic Neo;
  font-weight: 420;
  font-size: 18.5px;
}
.my_chat_box_2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00c637;
  /* transform: rotateZ(220deg); */
  clip-path: polygon(100% 100%, 50% 100%, 0% 30%);
  top: -40px;
  left: -6px;
}

.AI_chat_box_2 {
  display: flex;
  background-color: rgba(
    246.0000005364418,
    246.0000005364418,
    246.0000005364418,
    1
  );
  width: 367px;
  height: 55px;
  position: absolute;
  left: 58px;
  top: 192px;
  border-radius: 55px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Apple SD Gothic Neo;
  font-weight: 420;
  font-size: 18.5px;
}
.AI_chat_box_2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(
    246.0000005364418,
    246.0000005364418,
    246.0000005364418,
    1
  );
  /* transform: rotate(220deg); */
  clip-path: polygon(0% 70%, 100% 0%, 50% 0%);
  top: 43px;
  left: -1px;
}

.AI_chat_box {
  display: flex;
  background-color: rgba(
    246.0000005364418,
    246.0000005364418,
    246.0000005364418,
    1
  );
  width: 330px;
  height: 55px;
  position: absolute;
  left: 58px;
  top: 392px;
  border-radius: 55px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Apple SD Gothic Neo;
  font-weight: 420;
  font-size: 18.5px;
}
.AI_chat_box::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(
    246.0000005364418,
    246.0000005364418,
    246.0000005364418,
    1
  );
  /* transform: rotate(220deg); */
  clip-path: polygon(0% 70%, 100% 0%, 50% 0%);
  top: 43px;
  left: -1px;
}

.AI_chat {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 72px;
  position: absolute;
  left: 16px;
  top: 22.5px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18.5px;
  letter-spacing: 0;
  font-weight: 420;
}

.AI_chat_2 {
  color: rgba(0, 0, 0, 1);
  width: 350px;
  height: 72px;
  position: absolute;
  left: 10px;
  top: 18px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18.5px;
  letter-spacing: 0;
  font-weight: 420;
}

.F22F_main {
  /* border: 4.5px solid rgb(0, 0, 0); */
  /* color: rgb(21, 21, 21); */
  width: 151px;
  height: 55px;
  position: absolute;
  left: 35px;
  top: 40px;
  transform: translateY(-50%);
  font-family: "Apple SD Gothic Neo";
  font-weight: 650;
  text-align: center;
  font-size: 35px;
  letter-spacing: -0.3px;
  line-height: 38px;
  background-color: #ffffff;
  padding-top: 2.5px;
}

.up_bar {
  width: 213px;
  height: 42px;
  position: absolute;
  left: 1155px;
  top: 13px;
}

.profile_photo_main_box {
  width: 36px;
  height: 1.0820287466049194px;
  position: absolute;
  left: 3px;
  top: 6px;
}
.profile_photo_main {
  position: absolute;
  top: 3.5px;
}

.QnA_box {
  width: 673px;
  min-height: 200px;
  position: relative;
  display: block;
}

.QnA_question {
  color: rgba(18.88193730264902, 36.03742964565754, 50.82965210080147, 1);
  width: 673px;
  min-height: 100px;
  /* height: 63px; */
  position: absolute;
  left: 0px;
  top: 4px;
  font-family: Apple SD Gothic Neo;
  text-align: left;
  font-size: 20px;
  letter-spacing: -0.5;
  line-height: px;
  font-weight: bold;
  margin-bottom: 20px;
}
.QnA_start {
  width: 673px;
  height: 125px;
  position: relative;
  left: 13px;
  top: 65px;
  font-family: Apple SD Gothic Neo;
  text-align: left;
  font-size: 33px;
  letter-spacing: -0.5;
  line-height: px;
  font-weight: 600;
}

.QnA_answer {
  color: rgba(18.88193730264902, 36.03742964565754, 50.82965210080147, 1);
  width: 750px;
  min-height: 100px;
  position: absolute;
  left: 25px;
  top: 40px;
  text-align: left;
  font-size: 20px;
  letter-spacing: -0.5;
  line-height: 50px;
  margin-bottom: 20px;
  word-break: keep-all;
}

.nickname_profile_main {
  position: absolute;
  width: 155px;
  height: 40px;
  left: 33px;
  top: 5px;
  font-size: 35px;
  letter-spacing: -0.5;
  line-height: px;
  align-items: center;
  justify-content: center;
}

.nickname_main {
  color: rgba(0, 0, 0, 1);
  position: absolute;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  align-items: center;
  width: 130px;
  left: 30px;
  top: 15px;
  font-size: 15px;
  letter-spacing: -0.5;
  line-height: px;
  border: none;
}

@keyframes checkmark {
  0% {
    width: 0;
  }
  100% {
    width: 7px;
  }
}

@keyframes checkmark_kick {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

.checkmark {
  position: relative;
  height: 10px;
  width: 10px;
  display: block;
}

.checkmark::before,
.checkmark::after {
  content: "";
  position: absolute;
  height: 1.5px;
  background-color: #1d4cf8;
  opacity: 0;
}

.checkmark::before {
  top: -5px;
  left: -6px;
  width: 0;
  transform: rotate(50deg);
  animation: checkmark 0.1s forwards;
  border-radius: 1px;
}

.checkmark::after {
  top: 0px;
  left: 0px;
  height: 0;
  width: 1.5px;
  transform: rotate(220deg);
  transform-origin: top left;
  animation: checkmark_kick 0.1s forwards 0.1s;
  border-radius: 1px;
}

.animate::before,
.animate::after {
  opacity: 1;
  animation-play-state: running;
}

.checkmakr_box {
  position: absolute;
  left: 207px;
  top: 34px;
}

.A_dot {
  position: relative;
  left: 0px;
  top: 53px;
  font-size: 20px;
}

.bold-word {
  font-weight: 600;
}

.detail {
  position: absolute;
  top: 1200px;
  left: 350px;
  /* display: flex; */
}

.footer {
  position: relative;
  top: 2250px;
  left: 110px;
  width: 85%;
  border-top: 1px solid black;
  color: black;
  text-align: end;
  padding: 10px 0;
}
.UpdateModalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.UpdateModalContent {
  position: relative;
  width: 480px;
  height: 280px;
  /* margin: auto; */
  /* border: 1px solid #2d2d2d; */
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}
