.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_thanks_m {
  width: 100%;
  height: 20rem;
  margin: 0 auto;
  padding: 0 5%;
}

.desktop3_m {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: relative;
}

.overall_layout_m {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_answer_layout_m {
  display: flex;
  width: 860px;
  margin-bottom: 30px;
}

.user_answer_box_tag_m {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c7e1ff;
  border: 2px solid #5374e8;
  border-radius: 12px;
  border-right: 1px solid #5374e8;
}

.user_answer_box_m {
  flex-grow: 1; /* This means that the box will take up the rest of the space in the layout */
  display: flex;
  align-items: flex-start;
  border: 2px solid #5374e8;
  border-radius: 12px;
  overflow: auto; /* This means that if the content is too large for the box, it will create a scroll bar */
  border-left: 1px solid #218c66;
  align-items: center;
  justify-content: center;
}

.user_answer_m {
  padding: 20px 30px;
  width: 100%;
  font-family: Apple SD Gothic Neo;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.5;
  color: rgba(18, 36, 51, 1);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.MY_m {
  position: relative;
  justify-content: center;
  top: 0%;
  display: flex;
}

.AI_answer_layout_m {
  width: 88%;
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
  margin-top: 1.5rem;
}

.AI_answer_box_tag_m {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dfffec;
  border: 2px solid #218c66;
  border-radius: 12px;
  border-right: 1px solid #218c66;
}

.AI_answer_box_m {
  flex-grow: 1; /* This means that the box will take up the rest of the space in the layout */
  display: flex;
  border: 2px solid #218c66;
  border-radius: 12px;
  overflow: auto; /* This means that if the content is too large for the box, it will create a scroll bar */
  border-left: 1px solid #218c66;
  align-items: center;
  justify-content: center;
}

.AI_answer_m {
  padding: 0rem 1rem;
  width: 100%;
  font-family: Apple SD Gothic Neo;
  font-size: 8px;
  line-height: 17px;
  letter-spacing: -0.5;
  color: rgba(18, 36, 51, 1);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.my_play_box_m {
  background-color: rgb(255, 255, 255);
  width: 88%;
  height: 9rem;
  position: relative;
  margin-top: 2rem;
  padding-top: 3%;
  padding-bottom: 1%;
  border: 1.5px solid #585858;
  border-radius: 0.5rem;
  /* justify-content: center; */
  display: flex;
}
.line_m {
  width: 100%;
  padding-bottom: 15px;
}

.my_sumbit_box_m {
  background-color: rgb(255, 255, 255);
  width: 88%;
  height: 9rem;
  position: relative;
  border: 1.5px solid #585858;
  text-align: center;
  margin-top: 2rem;
  padding-top: 3%;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
.submit_problem_box_m {
  height: 90%;
  padding: 1rem;
  border-radius: 15px;
  font-size: 0.5rem;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  position: relative;
  resize: none;
}
.submit_input_box_one_m {
  width: 48%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.submit_title_m {
  position: relative;
  font-size: 0.4rem;
  text-align: left;
}
.submit_input_box_m {
  height: 60%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.copy_phrase_m {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4rem;
}

.my_play_3_m {
  color: rgba(0, 0, 0, 1);
  width: 15rem;
  position: relative;
  margin-left: 5%;
  font-family: Inter;
  text-align: left;
  font-size: 0.7rem;
  letter-spacing: -0.5;
  line-height: 1rem;
}

.copybutton_m {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.8rem;
}

.profile_photo_m {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  position: relative;
  left: 11px;
  top: 4px;
}
.F22F_m {
  /* border: 4.5px solid black; */
  /* color: rgb(21, 21, 21); */
  width: 151px;
  height: 55px;
  position: relative;
  left: 10px;
  top: 40px;
  transform: translateY(-50%);
  font-family: "Apple SD Gothic Neo";
  font-weight: 650;
  text-align: center;
  font-size: 35px;
  letter-spacing: -0.3px;
  line-height: 38px;
  background-color: #ffffff;
  padding-top: 2.5px;
}

.CopyAlertOverlay_m {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

.CopyAlertContent_m {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 70px;
  height: 13px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  outline: none;
}

.submitAlertContent_m {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  outline: none;
  line-height: 25px;
}

.centered-message_m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 브라우저 뷰포트의 높이만큼 설정 */
  text-align: center;
}

.submit_text_m {
  font-size: 0.6rem;
}
