.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop3 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  position: relative;
}
.overall_layout {
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 306px;
  top: 165px;
  flex-direction: column;
  display: flex;
}

.user_answer_layout {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-direction: column;
  display: flex;
}


.user_answer_box {
  background-color: white;
  border: 2px solid #5374E8;
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 190px;
  position: relative;
  left: 85px;
  top: 0px;
  border-radius: 12px;
}
.user_answer_box_tag {
  background-color: #C7E1FF;
  border: 2px solid #5374E8;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 190px;
  position: absolute;
  left: -12.5px;
  top:  0px;
  border-radius: 12px;
}

.MY {
  color: #3A3E45;
  font-weight: 650;
  width: 528px;
  height: 257px;
  position: absolute;
  left: 24px;
  top: 10px;
  font-family: Inter;
  text-align: left;
  font-size: 33px;
  letter-spacing: -0.5;
  line-height: px;
}

.UserIcon {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 20px;
  top: 90px;
}

.user_answer {
  color: rgba(18.88193730264902, 36.03742964565754, 50.82965210080147, 1);
  width: 750px;
  position: relative;
  font-family: Apple SD Gothic Neo;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: 40px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.Ai_answer_layout {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-direction: column;
  display: flex;
}


.AI_answer_box {
  border: 2px solid #218C66;
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  position: relative;
  left: 85px;
  top: 215px;
  border-radius: 12px;
}

.AI_answer_box_tag {
  background-color: #DFFFEC;
  border: 2px solid #218C66;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 230px;
  position: absolute;
  left: -12.5px;
  top:  215px;
  border-radius: 12px;
}

.AI {
  color: #3A3E45;
  font-weight: 680;
  width: 528px;
  height: 257px;
  position: absolute;
  left: 30px;
  top: 20px;
  font-family: Inter;
  text-align: left;
  font-size: 37px;
  letter-spacing: -0.5;
  line-height: px;
}

.TurtleIcon {
  position: absolute;
  width: 55px;
  height: 30px;
  left: 20px;
  top: 120px;
 
}



.AI_answer {
  color: rgba(18.88193730264902, 36.03742964565754, 50.82965210080147, 1);
  width: 750px;
  position: relative;
  font-family: Apple SD Gothic Neo;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: 30px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.my_play_box {
  width: 702.9998779296875px;
  height: auto;
  position: relative;
  left: 10px;
  top: 500px;
}

.copy_phrase {
  background-color: rgb(255, 255, 255);
  width: 694.4701538085938px;
  height: 277.79547119140625px;
  position: relative;
  left: -5px;
  top: 40px;
  border: 2px solid rgb(122, 123, 132);
}

.my_play {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 35px;
  font-family: Inter;
  text-align: left;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: px;
}

.my_play_2 {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 85px;
  font-family: Inter;
  text-align: left;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: px;
}

.my_play_3 {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 115px;
  font-family: Inter;
  text-align: left;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: px;
}

.my_play_4 {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 145px;
  font-family: Inter;
  text-align: left;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: px;
}

.my_play_5 {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 175px;
  font-family: Inter;
  text-align: left;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: px;
}

.my_play_6 {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 205px;
  font-family: Inter;
  text-align: left;
  font-size: 17px;
  letter-spacing: -0.5;
  line-height: px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(42, 38, 38);
  background-color: #C7E1FF;
  width: 75px;
  height: 30px;
  position: absolute;
  left: 730px;
  top: 167px;
}

.user_soup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(42, 38, 38);
  background-color: #DFFFEC;
  width: 75px;
  height: 30px;
  position: absolute;
  left: 730px;
  top: 230px;
}

.top_bar {
  width: 1671px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.profile {
  position: relative;
  width: 153.56227111816406px;
  height: 63px;
  left: 1250px;
  top: 26.5px;
}

.nickname_thanks {
  color: rgba(18.88193730264902, 36.03742964565754, 50.82965210080147, 1);
  width: 152px;
  height: 63px;
  position: absolute;
  left: 0px;
  top: 8px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 14.5px;
  letter-spacing: -0.5;
  line-height: px;
}

.profile_photo {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  position: relative;
  left: 11px;
  top: 4px;
}

.menu {
  width: 153.56227111816406px;
  height: 63px;
  position: absolute;
  left: -80px;
  top: 0px;
}

.F22F {
  border: 4.5px solid black;
  display: inline-block;
  color: rgb(21, 21, 21);
  width: 101px;
  height: 45px;
  position: relative;
  left: 10px;
  top: 40px;
  transform: translateY(-50%);
  font-family: "Apple SD Gothic Neo";
  font-weight: 650;
  text-align: center;
  font-size: 35px;
  letter-spacing: -0.3px;
  line-height: 38px;
  border-radius: 55px;
  background-color: #ffffff;
  padding-top: 2.5px;
}

.QnA_3 {
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: 58px;
  position: absolute;
  left: 900px;
  top: 6px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5;
  line-height: px;
}

.Log_3 {
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: 58px;
  position: absolute;
  left: 1000px;
  top: 6px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5;
  line-height: px;
}

.About_3 {
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: 58px;
  position: absolute;
  left: 800px;
  top: 6px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5;
  line-height: px;
}
