.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop3 {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  min-height: 200px;
  margin-bottom: 500px;
  position: relative;
}

.overall_layout {
  width: 1000px;
  position: absolute;
  left: 306px;
  top: 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user_answer_layout {
  display: flex;
  width: 860px;
  margin-bottom: 30px;
}

.user_answer_box_tag {
  /* display: flex; */
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* width: 98px; */
  flex: 0 0 95px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c7e1ff;
  border: 2px solid #5374e8;
  border-radius: 12px;
  border-right: 1px solid #218c66;
}

.user_answer_box {
  flex-grow: 1; /* This means that the box will take up the rest of the space in the layout */
  display: flex;
  align-items: flex-start;
  border: 2px solid #5374e8;
  border-radius: 12px;
  overflow: auto; /* This means that if the content is too large for the box, it will create a scroll bar */
  border-left: 1px solid #218c66;
  align-items: center;
  justify-content: center;
}

.user_answer {
  padding: 20px 30px;
  width: 100%;
  font-family: Apple SD Gothic Neo;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.5;
  color: rgba(18, 36, 51, 1);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.MY {
  position: relative;
  line-height: px;
  justify-content: center;
  left: 1px;
  top: 0%;
  display: flex;
}

.Icon {
  position: relative;
  text-align: center;
  height: 53px;
  left: -23px;
  top: 30px;
}

.Ai_answer_layout {
  display: flex;
  width: 860px;
}

.AI_answer_box_tag {
  flex: 0 0 95px; /* This means that the box will always be 95px wide and will not grow or shrink */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dfffec;
  border: 2px solid #218c66;
  border-radius: 12px;
  border-right: 1px solid #218c66;
}

.AI_answer_box {
  flex-grow: 1; /* This means that the box will take up the rest of the space in the layout */
  display: flex;
  align-items: flex-start;
  border: 2px solid #218c66;
  border-radius: 12px;
  overflow: auto; /* This means that if the content is too large for the box, it will create a scroll bar */
  border-left: 1px solid #218c66;
  align-items: center;
  justify-content: center;
}

.AI_answer {
  padding: 20px 30px;
  width: 100%;
  font-family: Apple SD Gothic Neo;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.5;
  color: rgba(18, 36, 51, 1);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.AI {
  color: #3a3e45;
  font-weight: 680;
  width: 528px;
  height: 257px;
  position: relative;
  left: 30px;
  top: 20px;
  font-family: Inter;
  text-align: left;
  font-size: 37px;
  letter-spacing: -0.5;
  line-height: px;
}

.TurtleIcon {
  position: relative;
  text-align: center;
  height: 40px;
  left: -18px;
  top: 30px;
}

.my_play_box {
  background-color: rgb(255, 255, 255);
  width: 775px;
  height: 277px;
  position: relative;
  left: 5px;
  top: 90px;
  border: 2px solid #505050;
  /* justify-content: center; */
  display: flex;
}
.line {
  width: 700px;
  padding-bottom: 15px;
}
#special-br {
  width: 1800px;
  line-height: 60; /* 줄 간격 조정 */
}
.my_sumbit_box {
  background-color: rgb(255, 255, 255);
  width: 775px;
  height: 290px;
  position: relative;
  left: 5px;
  top: 132px;
  border: 2.1px solid #505050;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 250px;
}
.submit_problem_box {
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  position: relative;
  width: 290px;
  height: 155px;
  top: 15px;
  margin: 20px;
  padding: 20px;
  resize: none;
}
.submit_explanation_box {
  position: relative;
  width: 300px;
  height: 200px;
  top: 40px;
}
.submit_title {
  position: relative;
  top: 30px;
  font-size: 17px;
  padding-left: 37px;
  padding-right: 317px;
}
.submit_input_box {
  display: flex;
}
.submit_button_last {
  position: relative;
  top: -250px;
  left: 500px;
}
.copy_phrase {
  left: 20px;
  position: relative;
  display: flex;
}

.my_play_3 {
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: 257px;
  position: absolute;
  left: 32px;
  top: 25px;
  font-family: Inter;
  text-align: left;
  font-size: 15px;
  letter-spacing: -0.5;
  line-height: 30px;
}

.copybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 790px;
  top: 10px;
}

.user_soup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(42, 38, 38);
  background-color: #dfffec;
  width: 75px;
  height: 30px;
  position: absolute;
  left: 730px;
  top: 230px;
}

.top_bar {
  width: 1671px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.profile {
  position: relative;
  width: 153.56227111816406px;
  height: 63px;
  left: 1250px;
  top: 26.5px;
}

.nickname_thanks {
  color: rgba(0, 0, 0, 1);
  white-space: nowrap;
  position: absolute;
  left: 38px;
  top: -8px;
  font-family: Apple SD Gothic Neo;
  text-align: left;
  align-items: center;
  border-radius: 55px;
}

.profile_photo {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  position: relative;
  left: 11px;
  top: 4px;
}

.menu {
  width: 153.56227111816406px;
  height: 63px;
  position: absolute;
  left: -80px;
  top: 0px;
}

.F22F {
  /* border: 4.5px solid black; */
  /* color: rgb(21, 21, 21); */
  width: 151px;
  height: 55px;
  position: relative;
  left: 10px;
  top: 40px;
  transform: translateY(-50%);
  font-family: "Apple SD Gothic Neo";
  font-weight: 650;
  text-align: center;
  font-size: 35px;
  letter-spacing: -0.3px;
  line-height: 38px;
  background-color: #ffffff;
  padding-top: 2.5px;
}

.QnA_3 {
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: 58px;
  position: absolute;
  left: 900px;
  top: 6px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5;
  line-height: px;
}

.Log_3 {
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: 58px;
  position: absolute;
  left: 1000px;
  top: 6px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5;
  line-height: px;
}

.About_3 {
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: 58px;
  position: absolute;
  left: 800px;
  top: 6px;
  font-family: Apple SD Gothic Neo;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5;
  line-height: px;
}

.CopyAlertOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

.CopyAlertContent {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 70px;
  height: 13px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  outline: none;
}

.submitAlertContent {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  outline: none;
  line-height: 25px;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 브라우저 뷰포트의 높이만큼 설정 */
  text-align: center;
}

.footer_last {
  position: relative;
  /* right: inherit; */
  top: 1400px;
  width: 100%;
  justify-content: center;
  border-top: 1px solid black;
  color: black;
  text-align: end;
  padding: 10px 0;
}
